ai_stages:
  - data_preparation
  - modelling
  - operationalization
ai_operations:
### Data preparation stage
  - stage: data_preparation
    operations:
      - data_profiling: 
          input: 
            -Data
          output: 
            -Report
      - data_validation:
          input: 
            - Data
            - Configuration
          output: 
            - Status
      - data_preprocessing:
          input:
            - Data
          output:
            - Data
      - data_documentation:
          input:
            - Data
          output:
            - Documentation
### Modelling
  - stage: modelling
    operations:
      - feature_engineering
          input: 
            - Data
          output: 
            - Data
            - Report
      - model_training
          input:
            - Data
      - model_evaluation
      - model_validation
      - model_aipc_documentation
### Operationalisation
  - stage: operationalization
    operations:
      - model_deployment
      - model_monitoring
      - production_data_monitoring
      - system_monitoring
      # guardrails
      - pre_inference_transformations
      - post_inference_transformations





